data/
.DS_Store
.DS_Store?
.Rhistory
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.html
*.npy
*.pyc
*.RData
*.pdf
*.jpg
*.jpeg
*.png
*.xlsx
*.xls
*.csv
*.ppt
*.pptx
*.doc
*.docx
